
        <h1>Updated Meter Readings Have Been Entered</h1>
        <p>Company: <%= @reading.user.company %></p>
        <p>Customer Number: <%= @reading.user.customer_number %></p>
        <p>Equipment Number: <%= @reading.equipment_number %></p>
        <p>B/W Meter Reading: <%= @reading.reading_bw %></p>
        <p>Color Level 1: <%= @reading.reading_c1 %></p>
        <p>Color Level 2: <%= @reading.reading_c2 %></p>
        <p>Color Level 3: <%= @reading.reading_c3 %></p>
        <p>After recording this in the system, enter the portal <%= @url %> and mark the reading as recorded.</p>
        <p>Thanks.</p>
