<div class="container">
    <div class="row">
          <h1>Make a Payment</h1>
          <hr/>
        <div class="col-md-4 col-md-offset-4">
            <%= form_tag banks_path do %>
              <div id="error_explanation">
                <% if flash[:error].present? %>
                    <p><%= flash[:error] %></p>
                <% end %>
              </div>
              <article>
                <%= label_tag(:invoice, 'Invoice Number:') %>
                <%= text_field_tag(:invoice) %>
              </article>
              <article>
                <%= label_tag(:amount, 'Payment Amount:') %>
                <%= text_field_tag(:amount) %>
              </article>
              <article>
                <%= label_tag(:email, 'Email for Receipt:') %>
                <%= text_field_tag(:email) %>
              </article>
              <article>
                <%= hidden_field_tag(:stripeToken) %>
              </article>
                <%= submit_tag "Make Payment", class: "btn, btn-success btn-md" %>
              
              <br><br>
            <% end %>
        </div>
    </div>
</div>

