<div class="container">
  <h1>Order Supplies</h1>
  <hr/>
  <%= render 'shared/errors', obj: @order %>
  <div class="row">
    <div class="col-md-4 well col-md-offset-4">
      <h4>Enter a separate order for each Equipment ID Number.</h4>
      <%= form_for @order do |f| %>
       
        <%= f.label :name, "Your Name" %>
        <%= f.text_field :name %>
      
        <%= f.label :phone %>
        <%= f.telephone_field :phone %>
      
        <%= f.label :email %>
        <%= f.email_field :email %>
        
        <%= f.label(:equipment_id, "Equipment ID Number") %>
        <%= f.email_field :equipment_id %>
        
        <h5>Supplies Needed:</h5>
        
        <div class="checkbox">
          <%= f.check_box(:black_toner) %>
          <%= f.label(:black_toner, "Black Toner") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:cyan_toner) %>
          <%= f.label(:cyan_toner, "Cyan Toner") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:magenta_toner) %>
          <%= f.label(:magenta_toner, "Magenta Toner") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:yellow_toner) %>
          <%= f.label(:yellow_toner, "Yellow Toner") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:waste_toner) %>
          <%= f.label(:waste_toner, "Waste Toner Tank") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:staples) %>
          <%= f.label(:staples, "Staples") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:postage_labels) %>
          <%= f.label(:postage_labels, "Postage Labels") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:postage_sealant) %>
          <%= f.label(:postage_sealant, "Postage Sealant") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:postage_ink) %>
          <%= f.label(:postage_ink, "Postage Ink") %>
        </div>
        <div class="checkbox">
          <%= f.check_box(:wide_format) %>
          <%= f.label(:wide_format, "Wide Format Paper") %>
        </div>
        
        <h5>Notes:<br>(Is the machine down? Do you need multiples? etc.)</h5>
        <%= f.text_area(:supply_message) %>
        
        
        <%= f.hidden_field(:current_user) %>
      
        <%= f.submit 'Order Supplies', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>