<% if logged_in? and current_user.admin? %>
<div class="container">
    <div class="row">
          <h1>All Card Payments</h1>
          <hr/>
          <div class="center">
              <%= will_paginate %>
          </div>
        <div class="col-md-12">
            
            <% @charges.each do |charge| %>
    
                <div class="row well list-well">
                    <div class="col-md-1">
                        <h4><%= link_to charge.user.customer_number, user_path(charge.user) %></h4>
                    </div>
                    <div class="col-md-5">
                        <h4><%= charge.user.company %></h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Invoice Number: <%= charge.invoice %></h4>
                        <small>Paid <%= time_ago_in_words(charge.created_at) %> ago</small><br>
                    </div>
                    <div class="col-md-3">
                        <h4>Payment Amount: $<%= charge.amount %></h4>
                        <h4>Paid By: <%= charge.customer %></h4>
                    </div>
                    
                </div>
            
            <% end %>
            <div class="center">
              <%= will_paginate %>
          </div>
        </div>
    </div>
</div>
<% end %>