<div class="container">
    <div class="row">
          <h1>Make a Payment</h1>
          <hr/>
        <div class="col-md-4 col-md-offset-4">
            <%= form_tag charges_path do %>
              <div id="error_explanation">
                <% if flash[:error].present? %>
                    <p><%= flash[:error] %></p>
                <% end %>
              </div>
              <article>
                <%= label_tag(:invoice, 'Invoice Number:') %>
                <%= text_field_tag(:invoice) %>
              </article>
              <article>
                <%= label_tag(:amount, 'Payment Amount:') %>
                <%= text_field_tag(:amount) %>
              </article>
              <article>
                <%= label_tag(:email, 'Email for Receipt:') %>
                <%= text_field_tag(:email) %>
              </article>
              <article>
                <%= hidden_field_tag(:stripeToken) %>
              </article>
    
              <button id='paymentButton' class="btn btn-success btn-md">Make Payment</button>
              <br><br>
            <% end %>
        </div>
    </div>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  image: 'http://copyquality.com/img/q-logo.jpg',
  name: 'Quality Business Solutions',
  description: 'One-time Payment',
  zipCode: true,
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#paymentButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/$/g, '').replace(/,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 5.00) {
    $('#error_explanation').html('<p>Payment amount must be at least $5.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>